@import "tailwindcss";

@theme {
    --font-heading: 'Chicle', cursive;
    --font-body: 'Nunito', sans-serif;
}

@keyframes spriteAnimation {
    from {
        background-position: 0px;
    }

    to {
        background-position: -512px;
    }
}

.animate-sprite {
    animation: spriteAnimation 0.6s steps(8) infinite;
}